<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854018447373-m8j06pqifkc3g7ak38b52cbsma4mq6sv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854018447373-m8j06pqifkc3g7ak38b52cbsma4mq6sv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>854018447373-2bl2mm88fkpvdm08g77p0ln6j9d4qo37.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBReb2vTz2JRjUxkm9h8gOAynWUEybgqAg</string>
	<key>GCM_SENDER_ID</key>
	<string>854018447373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HeyHUDU1.HUDU</string>
	<key>PROJECT_ID</key>
	<string>aps-hudu-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>aps-hudu-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854018447373:ios:c196f0f5047714fd561d44</string>
</dict>
</plist>